@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: "Albert Sans", system-ui, sans-serif;
  }
}

.introjs-hint-pulse {
  background-color: white;
  border-color: blue;
  border-width: 4px;
}

.linkAnnotation {
  border-top-style: none;
  border-left-style: none;
  border-right-style: none;
}
